<!-- Üst NavBar buraya yazıldı -->
<nav>
    <div class="container">
        <div class="nav-container">
            <ul class="logo-place">
                <li ><a href="/">Logo.net</a></li>
            </ul>
  
            <ul class="nav-items">
                <li><a href="/about">Hakkımda</a></li>
                <li><a href="/articles">Makaleler</a></li>
                <li><a href="">Tanıtım</a></li>
            </ul>
            <ul>
                <li><a href="">Kaydol</a></li>
            </ul>
        </div>
    </div>
  </nav>
  