{% extends 'layout.html' %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam iste neque enim ex aliquid. 
Non beatae velit eum alias voluptates fugit quibusdam iusto libero saepe unde cum, 
quisquam iste odit voluptatem molestiae commodi aliquid quaerat a est sunt nemo ut in vel excepturi. 
Laborum, cupiditate? Soluta, eum id. Temporibus praesentium repellat obcaecati corporis tempore aliquam voluptates earum eveniet ex quia! Consequatur distinctio, 
itaque voluptatibus aliquid reiciendis deserunt accusantium nostrum dolore possimus commodi necessitatibus ipsa voluptatem, 
voluptas similique, facilis temporibus numquam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem maiores labore natus possimus quod obcaecati dignissimos, 
rerum temporibus laborum sit, 
eligendi nam tempora similique assumenda eaque praesentium quasi repellat asperiores non maxime, 
odio consectetur deserunt quaerat. Quam, excepturi ullam.
<hr>
{% endblock body %}
