<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}       {# blogun adını title olarak belirledik. Böylece kalıtım yaparken değiştirebileceğiz#}
    Layout
    {% endblock  %}
    Layout
    </title>
</head>
<body>
    <h3>LAYOUT</h3>


    {% block alp %}     {# blogun adını alp olarak belirledik #}

    <p>Burası LAYOUT</p>
    
    
    {% endblock %}
    
    
</body>
</html>